<h1>Add New Color</h1>
<form #brandAddForm="ngForm" (ngSubmit)="add(brandAddForm)">
  <div class="form-group m-2">
    <input type="text" placeholder="brand name" #name="ngModel" [(ngModel)]="brand.name" class="form-control" name="name"
      id="name" required />
    <input type="text" placeholder="image path" #name="ngModel" [(ngModel)]="brand.image" class="form-control" name="image"
      id="image" required />
    <div class="alert alert-danger" *ngIf="name.invalid && name.dirty">
      marka ismi gereklidir
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="brandAddForm.invalid">
    Ekle
  </button>
</form>
