<div class="card" style="width: 18rem;" *ngFor="let car of cars">
  <img class="card-img-top" src={{car.image}} alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"> {{car.dailyPrice}} </h5>
    <p class="card-text"> {{car.description}} </p>
    <a href="#" class="btn btn-primary"> {{car.dailyPrice}} </a>
  </div>
</div>


<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let additionalService of additionalServices" >
      <th scope="row"></th>
      <td> {{ additionalService.name}} </td>
      <td> {{additionalService.price}} </td>
      <td  (click)="addToCart(additionalService)"  > <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
      </svg> </td>
    </tr>

  </tbody>
</table>

<button class="btn btn-success" routerLink="/reservation-page" >go to reservation</button>

