<div class="d-flex justify-content-between">
  <h5>Add New Car</h5>
  <button class="btn btn-info" routerLink="">go to car list </button>
</div>
<form  [formGroup]="carAddForm" (ngSubmit)="addCar()">

  <label for="input" class="form-label" required>Brand</label>
  <select class="form-control" required name="brandName" id="brandName" formControlName="brandId">
    <!-- formControlName          -->
    <option *ngFor="let brand of brands" [value]="brand.id">
      {{brand.name}}
    </option>
  </select>
  <label for="input" class="form-label" required>Color</label>
  <select class="form-control" required name="colorName" id="colorName" formControlName="colorId">
    <option *ngFor="let color of colors" [value]="color.id">
      {{color.colorName}}
    </option>
  </select>


  <div class="form-group">
    <input style="margin-top:15px ;" type="number" id="dailyPrice" formControlName="dailyPrice" class="form-control"
      placeholder="Günlük fiyat giriniz">
    <div class="alert alert-danger"
      *ngIf="carAddForm.get('dailyPrice').hasError('required') && carAddForm.get('dailyPrice').dirty"> Günlük fiyat
      girmek zorunludur
    </div>
  </div>

  <div class="form-group">
    <input style="margin-top:15px ;" type="text" id="description" formControlName="description" class="form-control"
      placeholder="description  ">
    <div class="alert alert-danger"
      *ngIf="carAddForm.get('description').hasError('required') && carAddForm.get('description').dirty"> Günlük fiyat
      girmek zorunludur
    </div>
  </div>

  <div class="form-group">
    <input style="margin-top:15px ;" type="text" id="image" formControlName="image" class="form-control"
      placeholder="image  ">
    <div class="alert alert-danger"
      *ngIf="carAddForm.get('image').hasError('required') && carAddForm.get('image').dirty"> Günlük fiyat
      girmek zorunludur
    </div>
  </div>





  <button [disabled]="carAddForm.invalid" style="margin-top:15px ;" type="submit" class="btn btn-primary">Ekle</button>

</form>
